RewriteEngine On

# Si el archivo o directorio solicitado no existe...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...redirige la petición a index.php
RewriteRule . index.php [L]