/*===== VARIABLES CSS Y SASS =====*/

/*===== z index =====*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --nav-width: 56px;
    --font-bold: 700;
}

/*===== Colores =====*/
:root {
    --first-color: #12192C;
    --second-color: #2385f5;
    --white-color: #EDEDED;
}

body {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    background-color: var(--white-color);
    transition: .5s;
}

h1{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*===== NAV =====*/
.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: var(--first-color);
    padding: 1.25rem .5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav__yo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.nav__logo-text{
    color: var(--white-color);
    font-weight: 700;
}


.nav__toggle{
    position: absolute;
    top: 1.10rem;
    right: -.6rem;
    width: 18px;
    height: 18px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.nav__link{
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--white-color);
    transition: .3s;
}

.nav__link:hover{
    background-color: var(--second-color);
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* .nav__text{
    font-weight: 700;
} */

/*Show menu*/
.show1{
    width: 215px;
}

/*Rotate toggle*/
.rotate{
    transform: rotate(180deg);
    transition: .5s;
}

/*Active links menu*/
.active1{
    background-color: var(--second-color);
    color: var(--first-color);
}

/*Add padding body*/
.expander{
    padding: 1rem 0 0 14rem;
    transition: .5s;
}